.posts {
	list-style: none;
	padding: 0 0 0.4em 0;
}

.posts li {
	border-top: 1px dashed #cbc9c5;
	padding-top: 2em;
}

.posts li:nth-of-type(1) {
	border-top: 0;
	padding-top: 0;
}

.posts h2 a, .posts h2 a:visited, .posts h2 a:hover {
	text-decoration: none;
	color: #2d2d2d;
	border-bottom: 0;
}

.post_metadata p {
	padding: 0;
	margin: 0 0 0.5em 0;
}

.post_metadata p:before {
	content: "\f073";
	font: 1.3em FontAwesome;
	padding-right: 0.75em;
}

.post_metadata ul {
	padding: 0;
	margin: 0;
}

.post_metadata ul:before {
	content: "\f02c";
	font: 1.3em FontAwesome;
	padding-right: 0.5em;
}

.post_metadata ul li {
	display: inline;
}

.post_metadata ul li:after {
	content: ", ";
}

.post_metadata ul li:last-of-type:after {
	content: "";
}

.post_metadata {
	float: left;
	margin: 10px 0 40px 0;
	width: 200px;
}

.post_overview {
	padding-left: 240px;
}

